
.container {
  max-width: 500px;
  //margin: 0 auto;
  position: relative;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 300px;
}

.product-image img {
  width: 100%;
}

.product-price {
  position: absolute;
  top: 50px;
  left: 25px;
  font-weight: bold;
}

.product-item > * {
  display: block;
  margin-top: 10px;
}
